* {
    margin: 0;
    padding: 0;
}

.conteiner {
    width: 100%;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}

.menu {
    display: flex;
    padding: 32px 0px;
    justify-content: center;
    align-items: center;
    gap: 72px;
}

.headers-nav-list {
    width: fit-content;
}

.nav-items {
    display: inline-block;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 135%;
    margin: 0 72px;

}

img {
    width: 100%;
}

h2 {
    margin-bottom: 40px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
    /* 64.8px */
}

.content-div {
    width: 100%;
    display: flex;
    padding: 88px 0px;
    flex-direction: column;
    align-items: center;
}

p {
    margin-bottom: 24px;
    width: 856px;
    color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    /* 31.5px */
}

span {
    color: #04959E;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

ol {

    width: 856px;
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 27px */
}

.button-div {
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

button {
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    background: #04959E;
    border: #FFF;

}



.button-text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    /* 24.3px */
}

hr {
    margin: 88px 0 0 0;
    height: 1px;
    align-self: stretch;
    background: #161616;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.footer-text {
    display: flex;
    padding: 16px 0px;
    justify-content: space-between;
    align-items: flex-start;

}
.footer-p{
    text-align: center;
    font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 150%;
}
